Repository ikigai-digital/terraform-aws-s3-bucket, changes with the labels that .github/labeler.yml gives for each.
All labels: github-config-change, code-change, documentation-change

.github/labeler.yml:

# Add github config change label to any change of files in docs folder, or subfolders
github-config-change:
  - .github/**/*

# Add code change label to any change of files ending with tf
code-change:
  - "*.tf"
  - "**/*.tf"

# Add documentation change label for readme changes
documentation-change:
  - "*.md"

PP-14: Release code to JFrog
  main.tf
Labels: code-change

PP-14: Release code to JFrog
  .github/CODEOWNERS
  .github/workflows/release-tf-to-jfrog.yml
  main.tf
  policy.tf
  variables.tf
Labels: github-config-change, code-change

PP-14: Release code to JFrog
  main.tf
Labels: code-change

PP-14: Release code to JFrog
  main.tf
Labels: code-change

PP-14: Release code to JFrog
  .github/workflows/release-tf-to-jfrog.yml
Labels: github-config-change

PP-14: Release code to JFrog
  main.tf
Labels: code-change

PP-14: Release code to JFrog
  .github/CODEOWNERS
  features/tags.feature
  templates/base-bucket-policy.json
  terraform.tfvars
Labels: github-config-change
